header{
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  height: 65px;
  color: #FFFFFF;
  padding: 20px;
  
}
.header-img{
  height: 100%;
  margin-right: 6px;
}
.header-title{
 font-size: 20px;
 margin-right: auto;
}
.header-project{
  font-size: 14px;
  font-weight: 500;
}
main{
  padding: 36px;
}
.main{
  display: grid;
  grid-template: 40px 40px/1fr 1fr;
  gap: 17px;
}
.form-input{
  border: 1px solid #d5d4d8;
  text-indent: 5px
}
.form-btn{
  grid-column: 1/-1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
}
/* .counter{
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
} */
.meme--image{
    max-width: 100%;
}
button{
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: gray;
  color: white;
}
.meme{
  position: relative;
  padding: 20px;
  
}
.meme-top-text{
  position: absolute;
  top: 10px;
  left: 10rem;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 3px 3px black;
  color: white;
}
.meme-bottom-text{
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  bottom: 6rem;
  left: 10rem;
  font-size: 50px;
  text-shadow: 3px 3px black;
  color: white;
}
.tracker{
  text-align: center;
}

@media only screen and (max-width: 600px){
  main{
    padding: 10px;
  }
  .main{
    gap: 2px;
  }
  
}